body
{
	padding:0;
	margin:0;
	font-family:Courier, Fixed;
	font-size:14px;
	line-height:1.6em;
}

table
{
	cursor: default;
	border-collapse:collapse;
}

th {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #6D929B;
	border: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

td {
	border: 1px solid #C1DAD7;
	padding: 3px 6px 3px 12px;
	color: #6D929B;
}


td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}

tr
{
	background-color:#ffffff;
}

tr.alt
{
	background-color:#eeeeee;
}

tr:hover,
tr.alt:hover
{
	background-color:#dddddd;
}

span.negative_value
{
	color:#ff0000;
}

#month_navigator
{
	background: #222926 url(../images/navigator_background.gif) repeat-x;
	font: 16px Arial, Helvetica, sans-serif;
	padding:15px;
	color:white;
	border-bottom:1px solid #aaaaaa;
	margin:0 0 10px 0;
}

#month_navigator a
{
	color:#999999;
}

#month_navigator a.active
{
	font-weight:bold;
	color:#444444;
}

#content_wrapper
{
	padding:10px 20px;
	width:980px;
	margin:auto;
}

#overview
{
	background-color:#eeeeee;
	border:1px solid #cccccc;
	width:1000px;
	-moz-border-radius:10px;
	font: 20px bold Arial, sans-serif;
	padding:0;
	margin: 0 auto 0 auto;
	overflow:hidden;
}

#month_diff,
#day_diff
{
	float:left;
	border-right:1px solid #cccccc;
	padding:0 20px 5px 30px;
	margin:0;
}

#month_diff.negative,
#day_diff.negative
{
	color:#bb0000;
}

.diff_label
{
	color:#444444;
	font-weight:bold;
	margin-left:-10px;
}

#action_menu
{
	float:right;
	position:relative;
}

#action_menu a
{
	color:#ffffff;
	font-weight:bold;
}

#changeuserdata_widow
{
	position:absolute;
	right:0;
	background-color:#cccccc;
	color:white;
	border:1px solid #aaaaaa;
	padding:10px;
	display:none;
	color:#444444;
}

#correct_widow
{
	position:absolute;
	right:0;
	background-color:#cccccc;
	color:white;
	border:1px solid #aaaaaa;
	padding:10px;
	display:none;
	color:#444444;
}

.visible
{
	display:block !important;
}

.diff_label
{
	font-size:10px;
	color:black;
}
