body
{
	background: #414E55 url(../img/mobile/topgradient.png) repeat-x;
	color: #fff;
	padding:0;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.6em;
}

table
{
	cursor: default;
	border-collapse:collapse;
}

th {
	font-weight: bold;
	font-size: 11px;
	color: #6D929B;
	border: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

td {
	font-family: Courier, Fixed;
	border: 1px solid #C1DAD7;
	padding: 3px 6px 3px 12px;
	color: #6D929B;
}


td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}

tr
{
	background-color:#ffffff;
}

tr.alt
{
	background-color:#eeeeee;
}

tr:hover,
tr.alt:hover
{
	background-color:#dddddd;
}

form.login
{
	background: transparent url(../img/mobile/infogradient.png) repeat-x;
	padding: 10px;
	color: #444444;
}

#form_editor textarea,
#form_editor input[type=submit],
#form_correction input[type=submit],
form.login input[type=submit] {
	border: 1px solid #fff;
	background: #414E55;
	color: #fff;
	font-weight: bold;
	width: 150px;
	height: 30px;
	margin: 0px auto;
}

span.negative_value
{
	color:#ff0000;
}

#month_navigator
{
	background: #92b361 url(../images/navigator_background.gif) repeat-x;
	font-size: 16px;
	color:white;
	border-bottom:1px solid #aaaaaa;
	padding: 0 15px;
	margin:0 0 10px 0;
	height: 49px;
}

#month_navigator a
{
	color:#999999;
}

#month_navigator a.active
{
	font-weight:bold;
	color:#eee;
}

#action_menu,
#months {
	padding-top: 6px;
}

#month_navigator ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#month_navigator ul li {
	background: #92b361 url(../images/navigator_buttons.gif) no-repeat left top;
	float: left;
	color: #fff;
	padding-left: 10px;
}

#month_navigator ul li  a {
	background: #92b361 url(../images/navigator_buttons.gif) no-repeat right top;
	padding-right: 10px;
	float: left;
	color: #ddd;
	font-size: 12px;
	text-decoration: none;
	line-height: 36px;
	width:100px;
	text-align:center;
}

#month_navigator ul li:hover {
	background-position: left bottom;
}

#month_navigator ul li:hover a {
	background-position: right bottom;
}

#additional_months {
	width:110px;;
	background:#B8CD9B;
	overflow:hidden;
	display:block;
	position:absolute;
	top:40px;
	left:19px;
	border:1px solid #263705;
}

#additional_months ul li {
	background:#B8CD9B;
	text-align:center;
	width:110px;
	padding:0;
}

#additional_months ul li:hover {
	background:#eeeeee;
}

#additional_months ul li a,
#additional_months ul li a.active {
	background:none;
	line-height:20px;
	width:auto;
	width:110px;
	color:#333333;
}

.hidden
{
	display:none;
	visibility:hidden;
}

/*#month_navigator ul ul li{
	width:100px;;
	overflow:hidden;
	display:none;
}*/

#content_wrapper
{
	padding:10px 20px;
	width:980px;
	margin:auto;
}

#overview
{
	background-color:#eeeeee;
	border:1px solid #cccccc;
	width:1000px;
	-moz-border-radius:10px;
	font-size: 20px;
	padding:0;
	margin: 0 auto 0 auto;
	overflow:hidden;
}

#month_diff,
#day_diff,
#day_diff_earliest
{
	float:left;
	border-right:1px solid #cccccc;
	padding:0 20px 5px 30px;
	margin:0;
	color: #000;
}

#action_field
{
	float:right;
	padding:4px 10px;
	margin:0;
	font-size:12px;
	line-height:22px;
	text-align:right;
}

#action_field a
{
	color:#666666;
	font-weight:bold;
}

#month_diff.negative,
#day_diff.negative
{
	color:#bb0000;
}

.diff_label
{
	color:#444444;
	font-weight:bold;
	margin-left:-10px;
}

#action_menu
{
	float:right;
	position:relative;
}

#action_menu a
{
	color:#ffffff;
	font-weight:bold;
}

#changeuserdata_widow
{
}

#correct_widow
{
}

.settings_popdown {
	position:absolute;
	right:0;
	top: 41px;
	background-color:#92b361;
	color:white;
	border:1px solid #3f5e00;
	padding:10px;
	display:none;
	color:#444444;
}

.visible
{
	display:block !important;
}

.diff_label
{
	font-size:10px;
	color:black;
}

.leftColumn {
	float: left;
}

.rightColumn {
	float:left;
	margin:0 0 0 20px;
}

a.correctionLink {
	color: inherit;
}

.correctionLightbox {
	color: #000;
}

.correctionLightbox #sbox-content {
	text-align: center;
}

#timeSlider {
	width: 569px;
	margin: 0 auto;
}
#timeSlider div.gutter {
	height:50px;
	background-image: url(../img/timeline.gif);
	background-repeat: no-repeat;
	background-position: 4px 0px;
}

#timeSlider div.startKnob,
#timeSlider div.endKnob {

	width:9px;
	height: 50px;
	background: url(../img/timeslider_knob.gif) no-repeat;
	cursor:pointer;
}
#timeSlider div.range {
	height: 50px;
	background-color:#aaa;
	background-image: url(../img/timeline_selected.gif);
}
#timeSlider div.date {
	text-align: center;
}

div.editorLightbox {
	background-color: #414E55 !important;
}
