button {
	height: 176px;
	width:296px;
	border:none;
	margin:20px 0 0 0;
}

button.come {
	background: url(../img/mobile/button_green.png);
}

button.go {
	background: url(../img/mobile/button_red.png);
}
